*{box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;outline:none !important;margin:0;padding:0}
ul,li{list-style-type:none;margin:0}
img{max-width:100%}
p + p {margin-top: 15px;}
body{font-family: 'GothamBook', Arial, Helvetica, sans-serif; color: #231f20; -webkit-font-smoothing:antialiased;-webkit-font-variant-ligatures:no-common-ligatures;font-variant-ligatures:no-common-ligatures;overflow-x:hidden}
.wrapper{float:left;width:100%;position:relative}
#jpreOverlay {
	background-color: #000;
}
 
#jpreLoader{
	width:100%;
	height:3px;
	 
}
#jpreBar {
	 background: #fff;
}
#jprePercentage {
	display: none;
}

#shetterTop, #shetterBottom {width: 100%; z-index: 555555; height: 50%; background: #000; position: fixed;}
#shetterTop{top: 0;}
#shetterBottom{bottom: 0;}
.container {max-width: 1100px; width: 98%; margin: 0 auto; padding: 0 10px;}
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
         url('../fonts/GothamBold.woff2') format('woff2'),
         url('../fonts/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype'),
         url('../fonts/GothamBold.svg#GothamBold') format('svg');
         font-display: "        ";
}

p{font-size: 17px;}
h2 { font-family: 'altgothic', Arial, Helvetica, sans-serif; font-size: 34px; margin-bottom: 15px; font-weight: normal;
    @media (max-width:768px) {
        font-size: 28px;
    }
}


.leftMenu{width: 50px; height: 100vh; position: fixed; top: 0; left: 0; background: #073c3c; z-index: 9999999;
    #menu{ width: 80vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* height: 100%; */
        transform: rotate(-90deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 0;
        left: 33px;
        li{display: block;   position: relative; 
            &.active{
                a{color: #e49028;}
            }
            a{font-size: 17px; color: #9bd3d3; padding: 15px 20px; width: 100%; text-decoration: none;  white-space: nowrap;  }
        }
    }
}
.logowrap{width: 100%; padding: 10px 3px; background: fixed; background: #e49028;display: block; line-height: 0;
    img{width: 100%;}
}
.main{width: 50%; float:right;
    .section { background: #073c3c;}
}
.leftSection{ width: 50%; height: 100%; padding-left: 50px; float: left; display: inline-flex; justify-content: center; align-items: center; flex-wrap: wrap;
    .mianlogowarap{width: 50%; display: block; text-align: center;
        .mlogo{width: 50%;}
        .namelogo{width: 100%;}
    }
    .wrapsecin{ text-align: center; display: flex; flex-wrap: wrap; justify-content: center; padding:0 25px; width: 100%;}
    #countdown-gampang{ width: 100%;}
}

#countdown-gampang{width: 100%;}
.ClassyCountdown-wrapper{display: flex; justify-content: center;
    >div{ margin: 20px; position: relative;height: 136px;width: 136px;
        .ClassyCountdown-value{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin-top: 0 !important; line-height: 1; text-align: center; line-height: 0.6; 
            span{font-size: 16px !important;}
        }
    }
}