*{box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;outline:none !important;margin:0;padding:0}
ul,li{list-style-type:none;margin:0}
img{max-width:100%}
p + p {margin-top: 15px;}
body{font-family: 'Raleway', sans-serif; color: #231f20; -webkit-font-smoothing:antialiased;-webkit-font-variant-ligatures:no-common-ligatures;font-variant-ligatures:no-common-ligatures;overflow-x:hidden}
.wrapper{float:left;width:100%;position:relative}
#jpreOverlay {
	background-color: #000;
}
 
#jpreLoader{
	width:100%;
	height:3px;
	 
}
#jpreBar {
	 background: #fff;
}
#jprePercentage {
	display: none;
}

#shetterTop, #shetterBottom {width: 100%; z-index: 555555; height: 50%; background: #000; position: fixed;}
#shetterTop{top: 0;}
#shetterBottom{bottom: 0;}
.container {max-width: 1100px; width: 98%; margin: 0 auto; padding: 0 10px;}


p{font-size: 17px;}
h2 {  font-size: 34px; margin-bottom: 15px; font-weight: normal;
    @media (max-width:768px) {
        font-size: 28px;
    }
}


.leftMenu{width: 50px; height: 100vh; position: fixed; top: 0; left: 0; background: #073c3c; z-index: 9999999;
    #menu{ width: 80vh;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* height: 100%; */
        transform: rotate(-90deg);
        transform-origin: bottom left;
        position: absolute;
        bottom: 0;
        left: 33px;
        li{display: block;   position: relative; 
           
            a{font-size: 17px; color: #9bd3d3; padding: 15px 20px; width: 100%; text-decoration: none;  white-space: nowrap;  
                &.active{
                    color: #e49028;
                }}
        }
    }
}
.logowrap{width: 100%; padding: 10px 3px; background: fixed; background: #e49028;display: block; line-height: 0;
    img{width: 100%;}
}
.main{width: 50%; float:right;
    .section { background: #073c3c;}
}
.leftSection{ width: 50%; height: 100%; padding-left: 50px; float: left; display: inline-flex; justify-content: center; align-items: center; flex-wrap: wrap;
    .mianlogowarap{width: 50%; display: block; text-align: center;
        .mlogo{width: 50%;}
        .namelogo{width: 100%;}
    }
    .wrapsecin{ text-align: center; display: flex; flex-wrap: wrap; justify-content: center; padding:0 25px; width: 100%;}
    #countdown-gampang{ width: 100%;}
}

#countdown-gampang{width: 100%; margin: 6vh 0;}
.ClassyCountdown-wrapper{display: flex; justify-content: center;
    >div{ margin: 20px; position: relative;height: 136px;width: 136px;
        .ClassyCountdown-value{ position: absolute; top: 50%; left: 50%; font-family: sans-serif; transform: translate(-50%,-50%); margin-top: 0 !important; line-height: 1; text-align: center; line-height: 0.6; 
            span{font-size: 16px !important;}
        }
    }
}
.rightsections{ color: #fff; text-align: center;}
.comingSoonSection{ display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 0 20px;
     h1 {font-size: 105px; font-weight: 300; text-transform: uppercase; letter-spacing: 18px;}
     h2 { font-size: 41px; text-transform: uppercase; margin: 30px 0;}
     p{font-size: 23px; color: #94b5b5;}
}
.contactForm{
    .nf-form-cont{ width: 100%;}
    .nf-before-form-content{display: none !important;}
    .nf-form-content { width: 100%;}
    .nf-before-field{ display: none;}
    nf-fields-wrap { display: flex; flex-wrap: wrap;
        nf-field{width: 100%; padding: 5px 10px;
            &:first-child, &:nth-child(2){ width: 50%;}
            .nf-field-label{display: none;}
            .nf-field-element{
                input, textarea{
                    background: transparent; border: 0; color: #fff; width: 100%; padding: 20px; border-bottom: solid 1px #117e89; font-size: 22px; height: auto;
                    font-family: 'Raleway', sans-serif;
                    &:focus{ background-color: transparent !important;}
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #117e89;
                        opacity: 1; /* Firefox */
                      }
                      
                      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #117e89;
                      }
                      
                      &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #117e89;
                      }
                      &:-internal-autofill-selected{ background: transparent !important;}
                }
            }
            .submit-container  input{
                background: transparent; border: solid 1px #117e89; white-space: nowrap; padding: 20px 40px; font-size: 16px; color: #fff; display: block; border-radius: 50px; cursor: pointer; width: auto; height: auto;
                &:hover{ background-color: transparent;}
            }
        }
    }
}
.nf-error.field-wrap .nf-field-element:after{ display: none !important;}
.subscribeBox { display: flex; max-width:600px; margin: 30px auto 0;
    .nf-form-cont{ width: 100%;}
    .nf-before-form-content{display: none !important;}
    .nf-form-content { width: 100%;}
    .nf-before-field{ display: none;}
    nf-fields-wrap { display: flex;
        nf-field{width: 100%;
            & + nf-field { width: 130px;}
            .nf-field-label{display: none;}
            .nf-field-element{
                input{
                    background: transparent; border: 0; color: #fff; width: 100%; padding: 20px; border-bottom: solid 1px #117e89; font-size: 22px; height: auto;
                    &:focus{ background-color: transparent !important;}
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #117e89;
                        opacity: 1; /* Firefox */
                      }
                      
                      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #117e89;
                      }
                      
                      &::-ms-input-placeholder { /* Microsoft Edge */
                        color: #117e89;
                      }
                }
            }
            .submit-container  input{
                background: transparent; border: solid 1px #117e89; white-space: nowrap; padding: 20px 40px; font-size: 16px; color: #fff; display: block; border-radius: 50px; cursor: pointer; width: auto; height: auto;
                &:hover{ background-color: transparent;}
            }
        }
    }
.emailwrap{background: transparent; border: 0; color: #fff; width: 100%; padding: 20px; border-bottom: solid 1px #117e89; font-size: 22px;
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #117e89;
        opacity: 1; /* Firefox */
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #117e89;
      }
      
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #117e89;
      }
}
.submitbtn{background: transparent; border: solid 1px #117e89; white-space: nowrap; padding: 20px 40px; font-size: 16px; color: #fff; display: block; border-radius: 50px; cursor: pointer; width: auto;}
}
.socialIcons{display: flex; justify-content: center;
    li{padding: 10px;
        img{width: 26px;}
    }
}

.contactFormwrap{ display: flex; flex-wrap: wrap; margin: 20px 0;
    li{width: 100%; padding: 15px;
        &:first-child, &:nth-child(2) { width: 50%;}
        
.submitbtn{background: transparent; width: auto; border: solid 1px #117e89; white-space: nowrap; padding: 20px 40px; font-size: 16px; color: #fff; display: block; border-radius: 50px; cursor: pointer;}

    }
    input, textarea{background: transparent; border: 0; color: #fff; width: 100%; padding: 10px; border-bottom: solid 1px #117e89; font-size: 18px;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #117e89;
                opacity: 1; /* Firefox */
              }
              
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #117e89;
              }
              
              &::-ms-input-placeholder { /* Microsoft Edge */
                color: #117e89;
              }
    }

}
